Repository erikernst4/entrainment-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, pylint, isort, pytest

black:
  name: black
  entry: poetry run black
  language: system
  stages:
  - commit
  args:
  - --skip-string-normalization

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - commit

pytest:
  name: ðŸ§ª Running tests and test coverage with pytest
  entry: poetry run pytest -o log_cli=true
  language: python
  stages:
  - push
  pass_filenames: false

Fix installation
  README.md
Due: none

Fix installation bash code
  README.md
Due: none

Update README.md
  README.md
Due: none

fix doc: typo
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/index.doctree
  docs/build/_sources/index.rst.txt
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/index.doctree
  docs/build/html/_sources/index.rst.txt
  docs/build/html/index.html
  docs/build/html/searchindex.js
  docs/build/index.html
  docs/build/searchindex.js
  docs/source/index.rst
Due: none

a ver si puedo editar
  docs/source/index.rst
Due: none

docs: add hyperlinks
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/index.doctree
  docs/build/.doctrees/modules/continuous.doctree
  docs/build/.doctrees/modules/ipu.doctree
  docs/build/.doctrees/usage/continuous_time_series.doctree
  docs/build/.doctrees/usage/getting_started.doctree
  docs/build/.doctrees/usage/index.doctree
  docs/build/.doctrees/usage/tama.doctree
  docs/build/.doctrees/usage/visualization.doctree
  docs/build/_sources/index.rst.txt
  docs/build/_sources/modules/continuous.rst.txt
  docs/build/_sources/modules/ipu.rst.txt
  docs/build/_sources/usage/continuous_time_series.rst.txt
  docs/build/_sources/usage/getting_started.rst.txt
  docs/build/_sources/usage/index.rst.txt
  docs/build/_sources/usage/tama.rst.txt
  docs/build/_sources/usage/visualization.rst.txt
  docs/build/index.html
  docs/build/modules/continuous.html
  docs/build/modules/ipu.html
  docs/build/objects.inv
  docs/build/searchindex.js
  docs/build/usage/continuous_time_series.html
  docs/build/usage/getting_started.html
  docs/build/usage/index.html
  docs/build/usage/tama.html
  docs/build/usage/visualization.html
  docs/source/index.rst
  docs/source/modules/continuous.rst
  docs/source/modules/ipu.rst
  docs/source/usage/continuous_time_series.rst
  docs/source/usage/getting_started.rst
  docs/source/usage/index.rst
  docs/source/usage/tama.rst
  docs/source/usage/visualization.rst
Due: none

docs: add hyperlinks
  docs/build/.doctrees/environment.pickle
  docs/build/index.html
  docs/build/modules/continuous.html
Due: none

minor text improvements in docs
  docs/source/index.rst
  docs/source/usage/getting_started.rst
  docs/source/usage/tama.rst
Due: none

change default to index.rst instead of contents.rst
  docs/source/conf.py
Due: pytest

fixed typo: synchony --> synchrony
  docs/source/modules/tama.rst
  entrainment_metrics/tama/__init__.py
  entrainment_metrics/tama/entrainment.py
Due: black, mypy, pylint, isort, pytest

fix doc: delete old line
  docs/build/.buildinfo
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/index.doctree
  docs/build/.doctrees/modules/continuous.doctree
  docs/build/.doctrees/modules/index.doctree
  docs/build/.doctrees/modules/ipu.doctree
  docs/build/.doctrees/modules/tama.doctree
  docs/build/.doctrees/usage/continuous_time_series.doctree
  docs/build/.doctrees/usage/getting_started.doctree
  docs/build/.doctrees/usage/index.doctree
  docs/build/.doctrees/usage/installation.doctree
  docs/build/.doctrees/usage/tama.doctree
  docs/build/.doctrees/usage/visualization.doctree
  docs/build/_sources/modules/tama.rst.txt
  docs/build/_static/basic.css
  docs/build/_static/css/badge_only.css
  docs/build/_static/css/theme.css
  docs/build/_static/doctools.js
  docs/build/_static/documentation_options.js
  docs/build/_static/jquery.js
  docs/build/_static/language_data.js
  docs/build/_static/searchtools.js
  docs/build/_static/underscore.js
  docs/build/genindex.html
  docs/build/index.html
  docs/build/modules/continuous.html
  docs/build/modules/index.html
  docs/build/modules/ipu.html
  docs/build/modules/tama.html
  docs/build/objects.inv
  docs/build/py-modindex.html
  docs/build/search.html
  docs/build/searchindex.js
  docs/build/usage/continuous_time_series.html
  docs/build/usage/getting_started.html
  docs/build/usage/index.html
  docs/build/usage/installation.html
  docs/build/usage/tama.html
  docs/build/usage/visualization.html
  docs/source/usage/tama.rst
Due: none

fix: delete prints
  entrainment_metrics/tama/entrainment.py
Due: black, mypy, pylint, isort, pytest

docs: minifix + add frames explanation
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/usage/tama.doctree
  docs/build/_sources/usage/tama.rst.txt
  docs/build/genindex.html
  docs/build/index.html
  docs/build/modules/continuous.html
  docs/build/modules/index.html
  docs/build/modules/ipu.html
  docs/build/modules/tama.html
  docs/build/py-modindex.html
  docs/build/search.html
  docs/build/searchindex.js
  docs/build/usage/continuous_time_series.html
  docs/build/usage/getting_started.html
  docs/build/usage/index.html
  docs/build/usage/installation.html
  docs/build/usage/tama.html
  docs/build/usage/visualization.html
  docs/source/usage/tama.rst
Due: none

feat: replace subprocess for parselmouth
  entrainment_metrics/interpausal_unit.py
  poetry.lock
  pyproject.toml
Due: black, mypy, pylint, isort, pytest

feat: increase version for publishing
  pyproject.toml
Due: none

fix: move script to package
  entrainment_metrics/extractStandardAcoustics.praat
  entrainment_metrics/interpausal_unit.py
  pyproject.toml
Due: black, mypy, pylint, isort, pytest

InterpausalUnit --> InterPausalUnit
  docs/source/usage/continuous_time_series.rst
  docs/source/usage/getting_started.rst
Due: none

compilo
  docs/build/.buildinfo
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/index.doctree
  docs/build/.doctrees/modules/continuous.doctree
  docs/build/.doctrees/modules/index.doctree
  docs/build/.doctrees/modules/ipu.doctree
  docs/build/.doctrees/modules/tama.doctree
  docs/build/.doctrees/usage/continuous_time_series.doctree
  docs/build/.doctrees/usage/getting_started.doctree
  docs/build/.doctrees/usage/index.doctree
  docs/build/.doctrees/usage/installation.doctree
  docs/build/.doctrees/usage/tama.doctree
  docs/build/.doctrees/usage/visualization.doctree
  docs/build/_sources/usage/continuous_time_series.rst.txt
  docs/build/_sources/usage/getting_started.rst.txt
  docs/build/_static/basic.css
  docs/build/_static/css/badge_only.css
  docs/build/_static/css/theme.css
  docs/build/_static/doctools.js
  docs/build/_static/documentation_options.js
  docs/build/_static/jquery.js
  docs/build/_static/language_data.js
  docs/build/_static/searchtools.js
  docs/build/_static/underscore.js
  docs/build/genindex.html
  docs/build/index.html
  docs/build/modules/continuous.html
  docs/build/modules/index.html
  docs/build/modules/ipu.html
  docs/build/modules/tama.html
  docs/build/objects.inv
  docs/build/search.html
  docs/build/searchindex.js
  docs/build/usage/continuous_time_series.html
  docs/build/usage/getting_started.html
  docs/build/usage/index.html
  docs/build/usage/installation.html
  docs/build/usage/tama.html
  docs/build/usage/visualization.html
Due: none

compilo docs
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/modules/continuous.doctree
  docs/build/.doctrees/modules/ipu.doctree
  docs/build/.doctrees/modules/tama.doctree
  docs/build/.doctrees/usage/continuous_time_series.doctree
  docs/build/.doctrees/usage/tama.doctree
  docs/build/_sources/usage/continuous_time_series.rst.txt
  docs/build/_sources/usage/tama.rst.txt
  docs/build/genindex.html
  docs/build/index.html
  docs/build/modules/continuous.html
  docs/build/modules/index.html
  docs/build/modules/ipu.html
  docs/build/modules/tama.html
  docs/build/objects.inv
  docs/build/py-modindex.html
  docs/build/searchindex.js
  docs/build/usage/continuous_time_series.html
  docs/build/usage/tama.html
  docs/source/usage/continuous_time_series.rst
  docs/source/usage/tama.rst
Due: none

hago retoques menores en la doc, y recompilo
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/usage/continuous_time_series.doctree
  docs/build/_sources/usage/continuous_time_series.rst.txt
  docs/build/searchindex.js
  docs/build/usage/continuous_time_series.html
  docs/source/usage/continuous_time_series.rst
Due: none

feat: redesign TimeSeries predict input
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/modules/continuous.doctree
  docs/build/modules/continuous.html
  entrainment_metrics/continuous/continuous_time_series.py
  tests/test_knn.py
Due: black, mypy, pylint, isort, pytest

docs: add amount of lags example
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/usage/tama.doctree
  docs/build/_sources/usage/tama.rst.txt
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/index.doctree
  docs/build/doctrees/modules/continuous.doctree
  docs/build/doctrees/modules/ipu.doctree
  docs/build/doctrees/usage/continuous_time_series.doctree
  docs/build/doctrees/usage/getting_started.doctree
  docs/build/doctrees/usage/index.doctree
  docs/build/doctrees/usage/installation.doctree
  docs/build/doctrees/usage/tama.doctree
  docs/build/doctrees/usage/visualization.doctree
  docs/build/html/_sources/index.rst.txt
  docs/build/html/_sources/modules/continuous.rst.txt
  docs/build/html/_sources/modules/ipu.rst.txt
  docs/build/html/_sources/modules/tama.rst.txt
  docs/build/html/_sources/usage/continuous_time_series.rst.txt
  docs/build/html/_sources/usage/getting_started.rst.txt
  docs/build/html/_sources/usage/index.rst.txt
  docs/build/html/_sources/usage/installation.rst.txt
  docs/build/html/_sources/usage/tama.rst.txt
  docs/build/html/_sources/usage/visualization.rst.txt
  docs/build/html/index.html
  docs/build/html/modules/continuous.html
  docs/build/html/modules/ipu.html
  docs/build/html/objects.inv
  docs/build/html/searchindex.js
  docs/build/html/usage/continuous_time_series.html
  docs/build/html/usage/getting_started.html
  docs/build/html/usage/index.html
  docs/build/html/usage/installation.html
  docs/build/html/usage/tama.html
  docs/build/html/usage/visualization.html
  docs/build/searchindex.js
  docs/build/usage/tama.html
  docs/source/usage/tama.rst
Due: none

feat: add test for predicting on invalid inputs
  tests/test_knn.py
Due: black, mypy, isort, pytest

fix: plot predicting with deprecated input
  entrainment_metrics/continuous/continuous_time_series.py
Due: black, mypy, pylint, isort, pytest

feat: add speech rate extractor
  entrainment_metrics/interpausal_unit.py
Due: black, mypy, pylint, isort, pytest

feat: change feature_values assignation for update
  entrainment_metrics/interpausal_unit.py
Due: black, mypy, pylint, isort, pytest

fix: speech_rate
  entrainment_metrics/interpausal_unit.py
  tests/test_tama.py
Due: black, mypy, pylint, isort, pytest

fix: remove temporary wav
  entrainment_metrics/interpausal_unit.py
Due: black, mypy, pylint, isort, pytest

feat: add allosaurus
  poetry.lock
  pyproject.toml
Due: none

feat: remove lazy feature extraction, make features_values public
  entrainment_metrics/interpausal_unit.py
Due: black, mypy, pylint, isort, pytest

doc+fix: make audio_file mandatory + docstrings about feature_values
  entrainment_metrics/interpausal_unit.py
Due: black, mypy, pylint, isort, pytest

default python package workflow
  .github/workflows/python-package.yml
Due: none

fix: import numpy
  entrainment_metrics/interpausal_unit.py
Due: black, mypy, pylint, isort, pytest

Use poetry.lock instead of requirements.txt
  .github/workflows/python-package.yml
Due: none

feat: create requirements.txt
  requirements.txt
Due: none

Revert "Use poetry.lock instead of requirements.txt"
  .github/workflows/python-package.yml
Due: none

feat: clean ipus
  entrainment_metrics/continuous/continuous_time_series.py
  tests/test_knn.py
Due: black, mypy, pylint, isort, pytest

fix: use python env
  .pre-commit-config.yaml
Due: none

Path conditions:
  black: any of: \.py$, but not: docs/*
  mypy: any of: \.py$, but not: docs/*
  pylint: any of: \.py$, but not: (docs/|muttlib/dbconn/|tests/)
  isort: any of: \.py$, but not: (docs/)
  pytest: any of: \.py$
