Repository erikernst4/entrainment-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, pylint, isort, pytest

black:
  name: black
  entry: poetry run black
  language: system
  stages:
  - commit
  args:
  - --skip-string-normalization

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  stages:
  - commit

isort:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - commit

pytest:
  name: ðŸ§ª Running tests and test coverage with pytest
  entry: poetry run pytest -o log_cli=true
  language: python
  stages:
  - push
  pass_filenames: false

[WIP] feat: add turns stadistics
  entrainment_metrics/conversation_stadistics/statistics.py
  entrainment_metrics/conversation_stadistics/turn.py
Due: black, mypy, pylint, isort, pytest

remove workflows
  .github/workflows/python-package.yml
Due: none

fix: old names, imports
  entrainment_metrics/conversation_stadistics/statistics.py
  entrainment_metrics/conversation_stadistics/turn.py
Due: black, mypy, pylint, isort, pytest

fix: synchrony delta bigger than interval
  entrainment_metrics/continuous/metrics.py
Due: black, mypy, pylint, isort, pytest

fix: test warnings
  tests/test_knn.py
Due: black, mypy, isort, pytest

initial license
  LICENSE
Due: none

adding a jupyter notebook with a step-by-step example
  examples/data/test-A.wav
  examples/data/test-A.words
  examples/data/test-B.wav
  examples/data/test-B.words
  examples/entrainment-example.html
  examples/entrainment-example.ipynb
Due: none

docs: add link to example notebook
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/index.doctree
  docs/build/_sources/index.rst.txt
  docs/build/index.html
  docs/build/searchindex.js
  docs/source/index.rst
Due: none

fix: mock numba import
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/modules/continuous.doctree
  docs/build/.doctrees/modules/ipu.doctree
  docs/build/.doctrees/modules/tama.doctree
  docs/build/genindex.html
  docs/build/index.html
  docs/build/modules/continuous.html
  docs/build/modules/index.html
  docs/build/modules/ipu.html
  docs/build/modules/tama.html
  docs/build/objects.inv
  docs/build/py-modindex.html
  docs/build/searchindex.js
  docs/source/conf.py
Due: pytest

fix: typo
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/usage/installation.doctree
  docs/build/_sources/usage/installation.rst.txt
  docs/build/genindex.html
  docs/build/index.html
  docs/build/py-modindex.html
  docs/build/search.html
  docs/build/searchindex.js
  docs/build/usage/index.html
  docs/build/usage/installation.html
  docs/source/usage/installation.rst
Due: none

doc: changes before publishing
  pyproject.toml
Due: none

feat: add readthedocs
  .readthedocs.yaml
Due: none

fix: python version
  .readthedocs.yaml
Due: none

feat: update scipy
  poetry.lock
  requirements.txt
Due: none

fix: add requirements
  .readthedocs.yaml
Due: none

fix: add theme required
  docs/requirements.txt
Due: none

fix: add theme required
  .readthedocs.yaml
Due: none

fix: conf file path
  .readthedocs.yaml
Due: none

docs: add links to docs
  README.md
Due: none

docs: add links to docs
  pyproject.toml
Due: none

docs: add Agustín and Ramiro as authors
  pyproject.toml
Due: none

docs: add docs build botton
  README.md
Due: none

docs: change version to add authors
  pyproject.toml
Due: none

docs: final initial published version
  pyproject.toml
Due: none

Update installation.rst
  docs/source/usage/installation.rst
Due: none

feat: update scikit-learn + pillow
  poetry.lock
  pyproject.toml
Due: none

feat: sort ipus by start
  entrainment_metrics/continuous/continuous_time_series.py
  tests/test_knn.py
Due: black, mypy, pylint, isort, pytest

secury patch
  poetry.lock
Due: none

feat: add warning when sorting ipus
  entrainment_metrics/continuous/continuous_time_series.py
  tests/test_knn.py
Due: black, mypy, pylint, isort, pytest

security patch 02-02-2024
  poetry.lock
  requirements.txt
Due: none

bump version
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$, but not: docs/*
  mypy: any of: \.py$, but not: docs/*
  pylint: any of: \.py$, but not: (docs/|muttlib/dbconn/|tests/)
  isort: any of: \.py$, but not: (docs/)
  pytest: any of: \.py$
