Repository erikernst4/entrainment-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, pylint, isort, pytest

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v2.5.0
    hooks:
    - id: trailing-whitespace
      stages: [commit]
    - id: check-merge-conflict
      stages: [commit]
    - id: check-toml
      stages: [commit]
    - id: debug-statements
      stages: [commit]
-   repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [python]
      stages: [commit]
      args: [--skip-string-normalization]
      exclude: docs/*

    - id: mypy
      name: mypy
      entry: poetry run mypy
      language: system
      types: [python]
      stages: [commit]
      exclude: docs/*

    - id: pylint
      name: pylint
      entry: poetry run pylint
      language: system
      types: [python]
      stages: [commit]
      exclude: (docs/|muttlib/dbconn/|tests/)

    - id: isort
      name: isort
      entry: poetry run isort
      language: system
      types: [python]
      stages: [commit]
      exclude: (docs/)

    - id: pytest
      name: ðŸ§ª Running tests and test coverage with pytest
      entry: poetry run pytest -o log_cli=true
      language: python
      types: [python]
      stages: [push]
      pass_filenames: false

refactor: add structure to modules
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/index.doctree
  docs/build/.doctrees/modules/continuous.doctree
  docs/build/.doctrees/modules/tama.doctree
  docs/build/_sources/index.rst.txt
  docs/build/_sources/modules/continuous.rst.txt
  docs/build/_sources/modules/tama.rst.txt
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/index.doctree
  docs/build/doctrees/modules/continuous.doctree
  docs/build/doctrees/modules/tama.doctree
  docs/build/html/_sources/index.rst.txt
  docs/build/html/_sources/modules/continuous.rst.txt
  docs/build/html/_sources/modules/tama.rst.txt
  docs/build/html/index.html
  docs/build/html/modules/continuous.html
  docs/build/html/modules/index.html
  docs/build/html/modules/ipu.html
  docs/build/html/modules/tama.html
  docs/build/html/searchindex.js
  docs/build/index.html
  docs/build/modules/continuous.html
  docs/build/modules/index.html
  docs/build/modules/ipu.html
  docs/build/modules/tama.html
  docs/build/searchindex.js
  docs/source/index.rst
  docs/source/modules/continuous.rst
  docs/source/modules/tama.rst
Due: none

refactor: add mini docstring
  speechalyze/continuous/continuous_time_series.py
Due: black, mypy, pylint, isort, pytest

fix: remove deprecated argument
  .pre-commit-config.yaml
Due: none

fix: xs in integral from numerator
  speechalyze/continuous/metrics.py
Due: black, mypy, pylint, isort, pytest

feat: allow negative synchrony_deltas in montecarlo methhod
  speechalyze/continuous/metrics.py
  tests/test_knn.py
Due: black, mypy, pylint, isort, pytest

feat: test different integration methods give similar results in synchrony metric
  tests/test_knn.py
Due: black, mypy, isort, pytest

feat: allow negative synchrony_deltas in trapz method
  speechalyze/continuous/metrics.py
Due: black, mypy, pylint, isort, pytest

fix: improve trapz numerator explanation
  speechalyze/continuous/metrics.py
Due: black, mypy, pylint, isort, pytest

feat: set default k as 7
  speechalyze/continuous/continuous_time_series.py
Due: black, mypy, pylint, isort, pytest

refactor: export utils in speechalyze
  scripts/run_knn.py
  scripts/run_tama.py
  speechalyze/__init__.py
Due: black, mypy, pylint, isort, pytest

feat: make extractor optional
  speechalyze/interpausal_unit.py
  speechalyze/tama/entrainment.py
  speechalyze/tama/frame.py
  tests/test_tama.py
Due: black, mypy, pylint, isort, pytest

refactor: clean tama import
  scripts/run_tama.py
Due: black, mypy, pylint, isort, pytest

feat: make audio_file optional for getting features
  speechalyze/interpausal_unit.py
  speechalyze/tama/entrainment.py
  speechalyze/tama/frame.py
Due: black, mypy, pylint, isort, pytest

feat: tama time series
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/modules/ipu.doctree
  docs/build/.doctrees/modules/tama.doctree
  docs/build/.doctrees/usage/tama.doctree
  docs/build/_sources/usage/tama.rst.txt
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/modules/ipu.doctree
  docs/build/doctrees/modules/tama.doctree
  docs/build/doctrees/usage/tama.doctree
  docs/build/html/_sources/usage/tama.rst.txt
  docs/build/html/index.html
  docs/build/html/modules/ipu.html
  docs/build/html/modules/tama.html
  docs/build/html/searchindex.js
  docs/build/html/usage/index.html
  docs/build/html/usage/tama.html
  docs/build/index.html
  docs/build/modules/ipu.html
  docs/build/modules/tama.html
  docs/build/searchindex.js
  docs/build/usage/index.html
  docs/build/usage/tama.html
  docs/source/usage/tama.rst
Due: none

feat: add tama sample cross-correlation + metrics docs
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/usage/tama.doctree
  docs/build/_sources/usage/tama.rst.txt
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/usage/tama.doctree
  docs/build/html/_sources/usage/tama.rst.txt
  docs/build/html/index.html
  docs/build/html/searchindex.js
  docs/build/html/usage/index.html
  docs/build/html/usage/tama.html
  docs/build/index.html
  docs/build/searchindex.js
  docs/build/usage/index.html
  docs/build/usage/tama.html
  docs/source/usage/tama.rst
Due: none

feat: add requirements to installation
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/usage/installation.doctree
  docs/build/_sources/usage/installation.rst.txt
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/usage/installation.doctree
  docs/build/html/_sources/usage/installation.rst.txt
  docs/build/html/searchindex.js
  docs/build/html/usage/installation.html
  docs/build/searchindex.js
  docs/build/usage/installation.html
  docs/source/usage/installation.rst
Due: none

fix!: negative synchrony deltas
  speechalyze/continuous/metrics.py
  tests/test_knn.py
Due: black, mypy, pylint, isort, pytest

fix: define TimeSeries start and end with middle points
  speechalyze/continuous/continuous_time_series.py
Due: black, mypy, pylint, isort, pytest

fix: define TimeSeries start and end with middle points
  tests/test_knn.py
Due: black, mypy, isort, pytest

feat: print ipus information
  speechalyze/__init__.py
  speechalyze/utils.py
Due: black, mypy, pylint, isort, pytest

feat: plot ipus
  poetry.lock
  pyproject.toml
  speechalyze/__init__.py
  speechalyze/utils.py
Due: black, mypy, pylint, isort, pytest

fix: add plt.show()
  speechalyze/utils.py
Due: black, mypy, pylint, isort, pytest

feat: plot TimeSeries
  speechalyze/continuous/continuous_time_series.py
Due: black, mypy, pylint, isort, pytest

feat: plot two time series together
  speechalyze/continuous/__init__.py
  speechalyze/continuous/utils.py
Due: black, mypy, pylint, isort, pytest

feat: add name to each time series in plot
  speechalyze/continuous/utils.py
Due: black, mypy, pylint, isort, pytest

feat: add outlier ipus number + ipus width in plot
  speechalyze/continuous/continuous_time_series.py
Due: black, mypy, pylint, isort, pytest

feat: add saving option + docstrings
  speechalyze/continuous/utils.py
Due: black, mypy, pylint, isort, pytest

feat: start/end plot option + docstrings
  speechalyze/continuous/continuous_time_series.py
Due: black, mypy, pylint, isort, pytest

feat: add plot saving option
  speechalyze/continuous/continuous_time_series.py
Due: black, mypy, pylint, isort, pytest

feat: add saving_fname docstring
  speechalyze/continuous/utils.py
Due: black, mypy, pylint, isort, pytest

feat: add doctrings
  speechalyze/utils.py
Due: black, mypy, pylint, isort, pytest

doc+fix: add instance variables types
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/modules/continuous.doctree
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/modules/continuous.doctree
  docs/build/html/modules/continuous.html
  docs/build/modules/continuous.html
  speechalyze/continuous/continuous_time_series.py
Due: black, mypy, pylint, isort, pytest

refactor!: rename speechalyze
  entrainment_metrics/__init__.py
  entrainment_metrics/continuous/__init__.py
  entrainment_metrics/continuous/continuous_time_series.py
  entrainment_metrics/continuous/metrics.py
  entrainment_metrics/continuous/utils.py
  entrainment_metrics/interpausal_unit.py
  entrainment_metrics/tama/__init__.py
  entrainment_metrics/tama/entrainment.py
  entrainment_metrics/tama/frame.py
  entrainment_metrics/tama/utils.py
  entrainment_metrics/utils.py
  pyproject.toml
  tests/test_knn.py
  tests/test_tama.py
Due: black, mypy, pylint, isort, pytest

refactor!: rename speechalyze
  scripts/run_knn.py
  scripts/run_tama.py
Due: black, mypy, pylint, isort, pytest

docs: getting started
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/index.doctree
  docs/build/.doctrees/modules/ipu.doctree
  docs/build/.doctrees/usage/getting_ipus.doctree
  docs/build/_sources/index.rst.txt
  docs/build/_sources/usage/getting_ipus.rst.txt
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/index.doctree
  docs/build/doctrees/modules/ipu.doctree
  docs/build/doctrees/usage/getting_ipus.doctree
  docs/build/html/_sources/index.rst.txt
  docs/build/html/_sources/usage/getting_ipus.rst.txt
  docs/build/html/index.html
  docs/build/html/modules/ipu.html
  docs/build/html/objects.inv
  docs/build/html/searchindex.js
  docs/build/html/usage/continuous_time_series.html
  docs/build/html/usage/getting_ipus.html
  docs/build/html/usage/index.html
  docs/build/html/usage/installation.html
  docs/build/html/usage/tama.html
  docs/build/html/usage/visualization.html
  docs/build/index.html
  docs/build/modules/ipu.html
  docs/build/objects.inv
  docs/build/searchindex.js
  docs/build/usage/continuous_time_series.html
  docs/build/usage/getting_ipus.html
  docs/build/usage/index.html
  docs/build/usage/installation.html
  docs/build/usage/tama.html
  docs/build/usage/visualization.html
  docs/source/conf.py
  docs/source/index.rst
  docs/source/usage/getting_ipus.rst
  entrainment_metrics/interpausal_unit.py
Due: black, mypy, pylint, isort, pytest

feat: approximation evolution of feature
  docs/build/.doctrees/environment.pickle
  docs/build/.doctrees/index.doctree
  docs/build/.doctrees/usage/getting_ipus.doctree
  docs/build/_sources/index.rst.txt
  docs/build/_sources/usage/getting_ipus.rst.txt
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/index.doctree
  docs/build/doctrees/usage/getting_ipus.doctree
  docs/build/html/_sources/index.rst.txt
  docs/build/html/_sources/usage/getting_ipus.rst.txt
  docs/build/html/index.html
  docs/build/html/modules/ipu.html
  docs/build/html/searchindex.js
  docs/build/html/usage/continuous_time_series.html
  docs/build/html/usage/getting_ipus.html
  docs/build/html/usage/index.html
  docs/build/html/usage/installation.html
  docs/build/html/usage/tama.html
  docs/build/html/usage/visualization.html
  docs/build/index.html
  docs/build/modules/ipu.html
  docs/build/searchindex.js
  docs/build/usage/continuous_time_series.html
  docs/build/usage/getting_ipus.html
  docs/build/usage/index.html
  docs/build/usage/installation.html
  docs/build/usage/tama.html
  docs/build/usage/visualization.html
  docs/source/index.rst
  docs/source/usage/getting_ipus.rst
Due: none

Update installation
  README.md
Due: none
